/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address,aside, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, canvas, details, embed,
figure, figcaption,header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Syne';
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside, details, figcaption, figure,header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1440px;
	margin:auto;
	height:100% ;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background:rgba(350,400, 245);

}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0;
	margin-right: 50px;
}
section {
	margin: 50px 0
}

main{
	margin-left: 50px;
	margin-right: 50px;
	
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	margin-left:50px;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
h3{
	font-size: 26px;
	font-family: 'Work Sans';

}
.submit{
	font-family: 'Syne';
	border-radius: 60px;
	font-weight: 700;

}
.form-submit,
.modal-submit{
	background-color: #1D6154;
	color: white;
	width: 179px;
	height: 36px;
	box-shadow: none;
	border:none;
}
.modal-submit{
 width:237px;
 height:36px;


}

.admin-submit{
	color:black;
	background:white;
	width: 216px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	box-shadow: none;
	cursor: pointer;
}

.contenairbuttons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap:10px;
	padding-bottom: 15px;

}
.button{
	border: 1px solid #1D6154;
	font-family: 'Syne';
	font-weight: 500;
	color:#1D6154;
	border-radius: 60px;
	height: 37px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.large-button{
	width: 198px;
}
.clicked{
	background-color:  #1D6154;
	color:white ;

}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	font-weight: 500;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery-modal {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}



 nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	cursor: pointer;
}


footer {
	width: 100%;
	height: 60px;
	background-color: white;
	display: flex;
	justify-content: end;
	align-items: center;
  }

/***Login Page***/
.bold{
	font-weight: 600;
}
.thin{
	font-weight: 300;
}

.Section-form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}


.form-labelinput{
	display: flex;
  	flex-direction: column;
	margin-top: 50px;
	font-family: 'Work Sans';	
}

.input-email{
	margin-bottom: 30px;
}

.input-email,
.input-password {
	margin-bottom:15px ;
	margin-top: 5px;
	border: none;
	width: 379px;
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	background-color: white;
}

.contenair-button{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:25px;
	margin-top: 47px;
}

.passwordforget{
	text-decoration: none;
	color: #1D6154;
	margin-bottom: 70px;
}

.invalid{
	color:red;
}

.lien-login{
	text-decoration: none;
	color: black;
}

/*** admin ***/
.banner-admin{
	position: absolute;
	width: 100%;
	top:0;
	background-color: black;
	height: 59px;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:50px;
}

.project-title{
	display: flex;
	justify-content: center;
	gap:15px
}

.modified{
	position: relative;
	top:10px;
	cursor: pointer;

}

.modified2{
	margin-top: 15px;
}

.modified3{
	margin-bottom: 30px;
}

/***modale***/


.modal {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.2);
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.modal1,
.modal2{
	font-family: 'Work Sans';
	width: 630px;
	height: 650px;
	background-color: white;
	padding-top: 40px;
	padding-bottom: 20px;
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.disposition{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.gallery-modal{
		overflow: auto;
		width: 80%;
		max-width: 400px;
		margin-top:26px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
		grid-column-gap: 5px;
		grid-row-gap: 10px;
		padding-bottom: 27px;
		border-bottom: 1px solid #B3B3B3;
}

.gallery-modal img {
	width: 100%;
	height: 108px;
	
}

  
.gallery-modal figure {
	position: relative;
}
  
.gallery-modal figure i.fa-trash {
  	font-size: 12px;
	position: absolute;
	top: 5px;
	right: 5px;
	background-color:black;
	color:white ;
    padding: 4px;
	
}
  
  
.modale-close,
.modale-close2{
	font-weight: 700;
	position:absolute ;
	top:32px;
	right: 32px;
	font-size: 16px;
	cursor: pointer;
}

.modal-submit{
	width:237px;
	height:36px;
	margin-top: 20px;
	font-weight: 700;
	position: fixed;
	bottom:80px;
}

.gallery-delete{
	color:red;
	font-size: 14px;
	margin-top: 25px;
	position: fixed;
	bottom:50px;	
}
   
.edit-link {
	text-decoration: none;
	color: black;
}
  
  
.addpicture{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 420px;
	height: 169px;
	background-color: #E8F1F6;
	margin-top: 26px;
	margin-bottom: 40px;
}
#titlemodal2{
	margin-top: 40px;
}
.fa-arrow-left{
	font-size: 18px;
	position: absolute;
	top:32px;
	left:32px
}
.deleteimage{
	color: white;
	background-color: black;
	position: relative;
	z-index: 1;
	top:5px;
	left:75px;
	cursor: pointer;
	padding: 4px;
}

.fa-image{
	font-size: 58px;
	color:#B9C5CC;
	margin-top: 26px;
	margin-bottom: 10px;
}

.addpicture-button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 173px;
	height: 36px;
	font-weight: 500;
	border-radius: 60px;
	background-color: #CBD6DC;
	color:#306685;
	border: none;
	margin-bottom: 12px;
	cursor: pointer;
}


.modale2-contenair-input{
	display: flex;
	flex-direction: column;
	margin: auto;
	padding-bottom: 47px;
	border-bottom: 1px solid #B3B3B3;
	margin-bottom: 32px;
}

.modale2-input{
	width: 420px;
	height: 51px;
	background: #FFFFFF;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.modale2-label{
	font-family: 'work Sans';
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 21px;
}

.modale2-button-contenair{
	display: flex;
	justify-content: center;
}

.modale2-button{
	width: 237px;
	height: 36px;
	border-radius: 60px;
	border: none;
	background: #A7A7A7;
	color: white;
	font-family: 'Syne';
	font-weight: 700;
}

.green{
	background-color: #1D6154;
}

.ajoutimage{
	position: absolute;
	width: 173px;
	height: 169px;
	object-fit: cover;
}
  

  
  
  
  
  
  
  
  
 
  